.jumbotron {
  text-align: center;
  color: gray;
  font-family: verdana;
  text-shadow: 3px 3px 15px #4fffea;
  background-color: #b4ff9c;
}
td:hover {
  background-color: #ffbfc7;
}
td {
  height: 150px;
  width: 150px;
  border: 2px;
  border-style: solid;
  border-color: black;
  text-align: center;
}
#row1, #row2, #row3 {
  font-size: 500%;
  font-family: papyrus;
}
